@inject IJSRuntime _JsRuntime

<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (DangerChildContent != null)
        {
            @DangerChildContent
        }
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <span>Empty</span>
        }
    </div>
    <button class="btn btn-danger" @onclick="OnButtonClick">Button to be clicked</button>

    <_GrandChildComponent></_GrandChildComponent>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public RenderFragment DangerChildContent { get; set; }
    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    public async Task ToastrSuccess()
    {
        await _JsRuntime.ToastrSuccess("Operation successful");
    }
}
